body {
    background-color: lightgray; 
    margin:0;
}

header {
    background-color: white;
    padding: 5px;
}

h1 {
    margin:0;
}

div .main {
    background-color: white;
    margin-bottom: 50px; 
}

div .main img {
    width: 100%;
    margin-bottom: 1px;
    padding:0px;
}
 
div .container {
    width: 600px;
    margin: auto;
    margin-top: 10px;
}

.middle h2 {
    float: left;
    font-size: 20px;
    margin-left: 10px;
}

.middle p {
    float: right;
    margin-right: 10px;
    color: gray;
}

.end p {
    text-align: left;
    margin-left: 0px;
    padding-bottom: 10px;
}

.section {
    background-color: lightgray; 
}